EMAIL_HOST_IMAP=
EMAIL_USERNAME=
EMAIL_PORT_IMAP=
EMAIL_PASSWORD=
EMAIL_PORT_SMTP=
EMAIL_FILTER="from:boss@company.com"
EMAIL_RECV_INTERVAL_MS=

MATRIX_SERVER_URL=https://matrix.org
MATRIX_ACCESS_TOKEN=QGV4YW1wbGU6bG9jYWxob3N0.qPEvLuYfNBjxikiCjP
MATRIX_USERID=@example:localhost
MATRIX_USE_ENCTYPTION=true
MATRIX_RECEIVE_ROOM_ID=roomid