# ==========================================
# Email (IMAP) Настройки подключения к почте
# ==========================================
EMAIL_HOST_IMAP=imap.example.com
EMAIL_USERNAME=user@example.com
EMAIL_PORT_IMAP=993
EMAIL_PASSWORD=your_app_password
EMAIL_IMAP_SECURE=true
EMAIL_FILTER="from:boss@company.com"

# ==========================================
# Matrix Настройки подключения к Matrix серверу
# ==========================================
MATRIX_SERVER_URL=https://matrix.org
MATRIX_ACCESS_TOKEN=QGV4YW1wbGU6bG9jYWxob3N0.qPEvLuYfNBjxikiCjP
MATRIX_USERID=@example:localhost
MATRIX_RECEIVE_ROOM_ID=!roomid:matrix.org
MATRIX_USE_ENCTYPTION=true
MATRIX_DEVICE_ID=device123
MATRIX_MESSAGE_AS_NOTICE=false

# ==========================================
# Дополнительные параметры
# ==========================================
EMAIL_RECV_INTERVAL_MS=15000